.expectations-title {
  margin: 0 0 2.25rem 0;
}

.expectations-list {
  margin-bottom: 3rem;
}

.expectation-item {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}

.expectation-photo {
  width: 44px;
  height: 44px;
  flex: 0 0 44px;

  /*  “плашку” под иконку как на макете */
  background: var(--color-frame-bg);
  border-radius: 0;
  overflow: hidden;

  display: flex; 
  align-items: center; 
  justify-content: center; 

  margin-top: 2px;
}

.expectation-photo img {
   width: 24px;
  height: 24px;
  display: block;
  object-fit: contain;
}

/* большое фото */
.expectations-media-img {
  width: 100%;
  height: 800px; 
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/* --------- Responsive --------- */

@media (max-width: 768px) {
  .expectations-title {
    text-align: center;
    margin-bottom: 1.75rem;
  }

  .expectations-list {
    margin-bottom: 2.25rem;
  }

  .expectation-item {
    gap: 1rem;
  }

  .expectations-media-img {
    height: 360px;
  }
}


@media (max-width: 576px) {
  .expectations-media-wrap {
    margin-left: calc(-1 * var(--bs-gutter-x, 1.5rem) / 2);
    margin-right: calc(-1 * var(--bs-gutter-x, 1.5rem) / 2);
  }

  .expectations-media-img {
    height: 280px;
    border-radius: 10px; 
  }
}
