.expectations {
  /* COMMENT: подстройка “верх белого блока на середине заголовка” */
  --panel-offset-top: 18px;

  /* размер иконки */
  --icon-size: 30px;

  /* расстояния */
  --item-gap: 30px;
  --icon-gap: 20px;
}

.expectations__title {
  margin: 0 0 28px 0;
}

.expectations__list {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  /* gap: var(--item-gap); */
  gap: 22px;
}

/* пункт: иконка + текст */
.expectations__item {
  display: grid;
  /* grid-template-columns: var(--icon-size) 1fr; */
  grid-template-columns: 30px 1fr;
  /* gap: var(--icon-gap); */
  gap: 16px;
  align-items: start;
}

/* иконка */
.expectations__icon {
  /* width: var(--icon-size);
  height: var(--icon-size); */
  width: 30px;
  height: 30px;
  display: block;
  margin-top: 2px; /* Cлёгкое выравнивание по первой строке */
}

/* --- правая белая панель --- */
.expectations__white {
  background: #fff;
  border-radius: 10px;
  padding: 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* фото внутри панели */
.expectations__photo {
  border-radius: 10px;
  overflow: hidden;
  height: 260px;
}

.expectations__photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (min-width: 992px) {
    .expectations__white {
    margin-left: auto;
  }
}

@media (max-width: 991.98px) {

  .expectations__photo {
    height: 240px;
  }
  .expectations__list {
    max-width: none;
  }
}

@media (max-width: 575.98px) {
  .expectations__photo {
    height: 210px;
  }
}
