.footer {
  position: relative;
  padding: 32px 0 0 0; /* вместо 80/80 */
}

.footer__map {
  width: 100%;
  flex: 0 0 100%;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  line-height: 0;
  overflow: hidden; /* чтобы скругление работало */
}

/* карта заполняет белый блок */
.footer__map iframe {
  display: block;
  width: 100%;
  height: 320px; /* десктоп */
  border: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .footer__map iframe {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .footer__map iframe {
    height: 250px;
  }
}
