.footer {
  position: relative;
}

/* белый блок как на макете */
.footer__map {
  /* background: #ffffff; */
  border-radius: 10px;
  overflow: hidden; /* чтобы скругление работало */
}

/* карта заполняет белый блок */
.footer__map iframe {
  display: block;
  width: 100%;
  height: 450px; /* десктоп */
}

/* Responsive */
@media (max-width: 768px) {
  .footer__map iframe {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .footer__map iframe {
    height: 250px;
  }
}
